
$primaryBg: rgba(41,182,209,1) ;
$secondaryBg: rgba(0,199,199,1) ;
$primaryTextColor: #fff;
$primaryButtonColorGold: #FFD666;
$primaryButtonText: #8D734B;

$primaryButtonColorGoldHover:#96FEFF;
$primaryButtonTextHover: #15C3D6;